Repository DemonDaddy22/Lorem-Gen, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, documentation, package, config

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - src/*
    - src/**/*
    - public/*
    - public/**/*

documentation:
    - '*.md'

package:
  - 'package.json'
  - 'package-lock.json'

config:
  - 'lintconfig.json'
  - 'tsconfig.json'

Fixed npm command in deploy workflow
  .github/workflows/build_and_deploy.yml
Labels: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.86fe34f2.chunk.css
  static/css/main.86fe34f2.chunk.css.map
  static/js/2.e6d956cd.chunk.js
  static/js/2.e6d956cd.chunk.js.LICENSE.txt
  static/js/2.e6d956cd.chunk.js.map
  static/js/3.72827b5a.chunk.js
  static/js/3.72827b5a.chunk.js.map
  static/js/main.fd22eb61.chunk.js
  static/js/main.fd22eb61.chunk.js.map
  static/js/runtime-main.3d67a3b5.js
  static/js/runtime-main.3d67a3b5.js.map
Labels: none

Update README.md
  README.md
  package.json
Labels: documentation, package

Updates
  asset-manifest.json
  index.html
  static/js/runtime-main.17db7005.js
  static/js/runtime-main.17db7005.js.map
  static/js/runtime-main.3d67a3b5.js
  static/js/runtime-main.3d67a3b5.js.map
Labels: none

Add app screenshot to README.md
  README.md
Labels: documentation

Add logo
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  src/components/Generator/index.tsx
  src/constants.js
Labels: source

Add animations using framer motion
  package-lock.json
  package.json
  src/App.tsx
  src/components/AppError/index.tsx
  src/components/Button/index.tsx
  src/components/Choices/index.tsx
  src/components/CountInput/styles.module.scss
  src/components/Description/styles.module.scss
  src/components/GenerateButton/.index.tsx.icloud
  src/components/GenerateButton/.styles.module.scss.icloud
  src/components/Generator/index.tsx
  src/components/Generator/styles.module.scss
  src/components/Header/index.tsx
  src/components/OutputBox/index.tsx
Labels: source, package

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  static/css/main.86fe34f2.chunk.css
  static/css/main.86fe34f2.chunk.css.map
  static/css/main.f742e3ed.chunk.css
  static/css/main.f742e3ed.chunk.css.map
  static/js/2.6ec143c3.chunk.js
  static/js/2.6ec143c3.chunk.js.LICENSE.txt
  static/js/2.6ec143c3.chunk.js.map
  static/js/2.e6d956cd.chunk.js
  static/js/2.e6d956cd.chunk.js.map
  static/js/3.72827b5a.chunk.js
  static/js/3.72827b5a.chunk.js.map
  static/js/3.edde2357.chunk.js
  static/js/3.edde2357.chunk.js.map
  static/js/main.2aa14ba5.chunk.js
  static/js/main.2aa14ba5.chunk.js.map
  static/js/main.fd22eb61.chunk.js
  static/js/main.fd22eb61.chunk.js.map
  static/js/runtime-main.0d71b74f.js
  static/js/runtime-main.0d71b74f.js.map
  static/js/runtime-main.17db7005.js
  static/js/runtime-main.17db7005.js.map
Labels: none

Add initial delay for better UX
  src/App.tsx
  src/components/GenerateButton/.index.tsx.icloud
  src/components/GenerateButton/.styles.module.scss.icloud
  src/components/GenerateButton/index.tsx
  src/components/GenerateButton/styles.module.scss
  src/components/Header/index.tsx
Labels: source

Updates
  asset-manifest.json
  index.html
  static/js/main.1712d99b.chunk.js
  static/js/main.1712d99b.chunk.js.map
  static/js/main.2aa14ba5.chunk.js
  static/js/main.2aa14ba5.chunk.js.map
Labels: none

Add SASS variables and use them to replace hardcoded values in scss files
  src/components/AppError/styles.module.scss
  src/components/Button/styles.module.scss
  src/components/Choices/styles.module.scss
  src/components/CountInput/styles.module.scss
  src/components/GenerateButton/index.tsx
  src/components/GenerateButton/styles.module.scss
  src/components/Generator/styles.module.scss
  src/components/Header/styles.module.scss
  src/components/OutputBox/styles.module.scss
  src/index.scss
  src/variables.scss
Labels: source

Add mixin for svg wrappers
  src/components/Generator/styles.module.scss
Labels: source

Updates
  asset-manifest.json
  index.html
  static/css/main.b4a5b671.chunk.css
  static/css/main.b4a5b671.chunk.css.map
  static/css/main.f742e3ed.chunk.css
  static/css/main.f742e3ed.chunk.css.map
Labels: none

Update manifest.json
  public/manifest.json
Labels: source

Update icons and app animations
  .vscode/settings.json
  package-lock.json
  public/logo128.png
  public/logo192.png
  src/App.tsx
  src/assets/error.tsx
  src/components/AppError/index.tsx
  src/components/Button/index.tsx
  src/components/CountInput/index.tsx
  src/components/Description/index.tsx
  src/components/Generator/index.tsx
  src/components/Header/index.tsx
  src/components/OutputBox/index.tsx
  src/constants.js
  src/index.scss
Labels: source, package

Update app styling
  src/App.scss
  src/components/Description/index.tsx
  src/components/Description/styles.module.scss
  src/components/OutputBox/styles.module.scss
  src/index.scss
Labels: source

Lint fixes
  src/App.tsx
Labels: source

Updates
  asset-manifest.json
  index.html
  logo128.png
  logo192.png
  manifest.json
  static/css/main.7afcaa9f.chunk.css
  static/css/main.7afcaa9f.chunk.css.map
  static/css/main.b4a5b671.chunk.css
  static/css/main.b4a5b671.chunk.css.map
  static/js/2.6ec143c3.chunk.js
  static/js/2.6ec143c3.chunk.js.map
  static/js/2.dd388aca.chunk.js
  static/js/2.dd388aca.chunk.js.LICENSE.txt
  static/js/2.dd388aca.chunk.js.map
  static/js/main.1712d99b.chunk.js
  static/js/main.1712d99b.chunk.js.map
  static/js/main.e3350055.chunk.js
  static/js/main.e3350055.chunk.js.map
Labels: none

Add loader
  src/components/CountInput/index.tsx
  src/components/Generator/index.tsx
  src/components/Loader/index.tsx
  src/components/Loader/styles.module.scss
  src/components/OutputBox/index.tsx
  src/components/OutputBox/styles.module.scss
Labels: source

Updates
  asset-manifest.json
  index.html
  static/css/main.5829e6db.chunk.css
  static/css/main.5829e6db.chunk.css.map
  static/css/main.7afcaa9f.chunk.css
  static/css/main.7afcaa9f.chunk.css.map
  static/js/2.389722ca.chunk.js
  static/js/2.389722ca.chunk.js.LICENSE.txt
  static/js/2.389722ca.chunk.js.map
  static/js/2.dd388aca.chunk.js
  static/js/2.dd388aca.chunk.js.map
  static/js/3.77fab478.chunk.js
  static/js/3.77fab478.chunk.js.map
  static/js/3.edde2357.chunk.js
  static/js/3.edde2357.chunk.js.map
  static/js/main.df233cf8.chunk.js
  static/js/main.df233cf8.chunk.js.map
  static/js/main.e3350055.chunk.js
  static/js/main.e3350055.chunk.js.map
  static/js/runtime-main.0d71b74f.js
  static/js/runtime-main.0d71b74f.js.map
  static/js/runtime-main.c27c3654.js
  static/js/runtime-main.c27c3654.js.map
Labels: none

Update loader variant
  .github/workflows/lint.yml
  src/components/Loader/index.tsx
  src/components/OutputBox/styles.module.scss
Labels: source

Updates
  asset-manifest.json
  index.html
  static/css/main.5829e6db.chunk.css
  static/css/main.5829e6db.chunk.css.map
  static/css/main.9c532ba4.chunk.css
  static/css/main.9c532ba4.chunk.css.map
  static/js/main.8a1cda5e.chunk.js
  static/js/main.8a1cda5e.chunk.js.map
  static/js/main.df233cf8.chunk.js
  static/js/main.df233cf8.chunk.js.map
Labels: none

Update position of loader
  src/components/OutputBox/index.tsx
  src/components/OutputBox/styles.module.scss
Labels: source

Add chrome webstore link in README.md
  README.md
  src/components/OutputBox/index.tsx
Labels: source, documentation

Updates
  asset-manifest.json
  index.html
  static/css/main.5dad760e.chunk.css
  static/css/main.5dad760e.chunk.css.map
  static/css/main.9c532ba4.chunk.css
  static/css/main.9c532ba4.chunk.css.map
  static/js/main.5c980837.chunk.js
  static/js/main.5c980837.chunk.js.map
  static/js/main.8a1cda5e.chunk.js
  static/js/main.8a1cda5e.chunk.js.map
Labels: none

Add footer and footer links
  src/App.tsx
  src/components/Footer/index.tsx
  src/components/Footer/styles.module.scss
  src/components/FooterLink/index.tsx
  src/components/FooterLink/styles.module.scss
  src/constants.ts
Labels: source

Add logo
  src/App.scss
  src/App.tsx
  src/assets/logo.tsx
  src/components/Description/index.tsx
  src/components/Header/styles.module.scss
  src/components/Loader/index.tsx
Labels: source

Updates
  asset-manifest.json
  index.html
  static/css/main.5dad760e.chunk.css
  static/css/main.5dad760e.chunk.css.map
  static/css/main.a09dc140.chunk.css
  static/css/main.a09dc140.chunk.css.map
  static/js/2.03e25db8.chunk.js
  static/js/2.03e25db8.chunk.js.LICENSE.txt
  static/js/2.03e25db8.chunk.js.map
  static/js/2.389722ca.chunk.js
  static/js/2.389722ca.chunk.js.map
  static/js/3.77fab478.chunk.js
  static/js/3.77fab478.chunk.js.map
  static/js/3.f0b9f7b4.chunk.js
  static/js/3.f0b9f7b4.chunk.js.map
  static/js/main.5c980837.chunk.js
  static/js/main.5c980837.chunk.js.map
  static/js/main.77a57bc7.chunk.js
  static/js/main.77a57bc7.chunk.js.map
  static/js/runtime-main.bd674e87.js
  static/js/runtime-main.bd674e87.js.map
  static/js/runtime-main.c27c3654.js
  static/js/runtime-main.c27c3654.js.map
Labels: none

Reduce padding top on app component
  src/App.scss
  src/components/Generator/index.tsx
  src/constants.ts
Labels: source

Linting fixes
  src/constants.ts
Labels: source

Updates
  asset-manifest.json
  index.html
  static/css/main.a09dc140.chunk.css
  static/css/main.a09dc140.chunk.css.map
  static/css/main.fe9933ba.chunk.css
  static/css/main.fe9933ba.chunk.css.map
  static/js/main.77a57bc7.chunk.js.map
  static/js/main.ac19034c.chunk.js
  static/js/main.ac19034c.chunk.js.map
Labels: none
